.header-wrap{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    height: 40px;
    width: 100%;

    padding-top: 13px;

    background-color: rgb(106, 135, 216);
    color: rgb(253, 249, 249);
}

.header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    font-weight: 600;
}

.header-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
    gap: 120px;
}

.header-logo{
    position: absolute;
    top: 10px;
    left: 5px;
    font-size: 24px;
}

.header-currency{
    font-size: 20px;
}

@media (max-width: 920px){
    .header-container{
        justify-content:flex-end;
        
    }
    .header-box{
        gap: 40px;
        justify-content:flex-end;
        padding-right: 20px;
    }
    .header-logo{
        position: absolute;
        top: 10px;
        left: 5px;
        font-size: 22px;
    }
}