.converter-wrap{
    position: relative;
    height: 90vh;
}
.converter-container{
    width: 100%;
    height: 360px;
    min-width: 550px;
    max-width: 600px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    
    align-items: center;
    justify-content: center;
    display: flex;

    background-color: rgb(106, 135, 216);
    margin: auto;
    border-radius: 15px;
}

.converter-selection{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.converter-block{
    display: flex;
    flex-direction: column;
}

.converter-select{
    background: white;
    color: rgb(61, 81, 135);
    width: 100%;
    text-align: center;
    font-size: 14px;

    border: 0px;
    border-top: 1px solid;
}

.converter-input{
    background: white;
    width: 200px;
    color: rgb(61, 81, 135);

    font-size: 16px;

    border: 0px;
    outline:none;
    border-bottom: black solid 1;
    
}

.converter-text{
    color: white;
    font-size: 18px;

}