<button mat-flat-button extended (click)="showModal('modal1')" class="button">{{"Заказ"}}</button>
              
<div class="modal" *ngIf="currentModal === 'modal1'">
    <app-block1 [currentModal]="currentModal" [isDesktop]="isDesktop" [showModal]="showModal"></app-block1>
</div>

<div class="modal" *ngIf="currentModal === 'modal2'">
@if (isDesktop){
    <div class="modal-content2">
        <div class="modal-box">
            <div class="icon-box">
                <mat-icon class="back" (click)="showModal('modal1')" aria-hidden="false" aria-label="filter icon">arrow_back_ios</mat-icon>
                <span class="close" (click)="showModal('')">&times;</span>
            </div>

            <div class="address-box">
                <h1>Новый заказ</h1>

                <div class="btn-container">
                    <label class="switch btn-color-mode-switch">
                          <input 
                           [(ngModel)]="isPickup" 
                           (change)="onToggleChange()"
                           type="checkbox" 
                           name="color_mode" 
                           id="color_mode" 
                           value="1"
                           >
                          <label for="color_mode" data-on="Самовывоз" data-off="Доставка" class="btn-color-mode-switch-inner"></label>
                      </label>
                </div>

                <div class="form-login-box">
                    <span class="link text">{{"Войти"}}</span> 
                    <span class="text"> {{" в свой аккаунт и отобразить мои адреса доставки"}} </span> 
                </div>
                <mat-icon class="back" (click)="showModal('modal1')" aria-hidden="false" aria-label="filter icon">location_on</mat-icon>
                <span> {{"  Определить местоположение"}} </span>

                <form  [formGroup]="options">
                  <div class="form-fields">
                    <mat-form-field class="form-input-street" [hideRequiredMarker]="hideRequired()" [floatLabel]="floatLabel()">
                      <input 
                        type="text" 
                        class="form-input" 
                        matInput 
                        placeholder="Улица*"
                        [formControl]="emailFormControl"
                        [errorStateMatcher]="matcher" 
                        required 
                      />
                      <mat-icon class="back" matSuffix>keyboard_arrow_down</mat-icon>
                      <mat-hint class="form-hint" align="start"><strong>*Обязятельное поле для ввода</strong> </mat-hint>
                      @if (emailFormControl.hasError('required')) {
                        <mat-error class="form-error" ><strong>*Обязятельное поле для ввода</strong></mat-error>
                      }
                      
                    </mat-form-field>

                    <mat-form-field [hideRequiredMarker]="hideRequired()" [floatLabel]="floatLabel()">
                      <input 
                        type="text" 
                        class="form-input" 
                        matInput 
                        placeholder="Дом*"
                        [formControl]="emailFormControl"
                        [errorStateMatcher]="matcher" 
                        required 
                      />
                      <!-- <mat-hint align="start"><strong>*Обязятельное поле для ввода</strong> </mat-hint> -->
                      @if (emailFormControl.hasError('required')) {
                        <mat-error class=" form-error"> <strong>*Обязятельное поле для ввода</strong></mat-error>
                      }
                    </mat-form-field>
              
                    <mat-form-field [hideRequiredMarker]="hideRequired()" [floatLabel]="floatLabel()">
                      <input 
                        type="text" 
                        class="form-input" 
                        matInput 
                        placeholder="Корпус"
                        [formControl]="emailFormControl"
                        [errorStateMatcher]="matcher" 
                        required 
                      />
                      <!-- <mat-hint align="start"><strong>*Обязятельное поле для ввода</strong> </mat-hint> -->
                      @if (emailFormControl.hasError('required')) {
                        <mat-error class=" form-error"><strong>*Обязятельное поле для ввода</strong></mat-error>
                      }
                    </mat-form-field>

                  </div>


                  <div class="form-fields">
                    <mat-form-field  [hideRequiredMarker]="hideRequired()" [floatLabel]="floatLabel()">
                      <input 
                        type="text" 
                        class="form-input" 
                        matInput 
                        placeholder="Подьезд"
                        [formControl]="emailFormControl"
                        [errorStateMatcher]="matcher" 
                        required 
                      />
                      
                    </mat-form-field>

                    <mat-form-field [hideRequiredMarker]="hideRequired()" [floatLabel]="floatLabel()">
                      <input 
                        type="text" 
                        class="form-input" 
                        matInput 
                        placeholder="Квартира"
                        [formControl]="emailFormControl"
                        [errorStateMatcher]="matcher" 
                        required 
                      />
 
                    </mat-form-field>
              
                    <mat-form-field [hideRequiredMarker]="hideRequired()" [floatLabel]="floatLabel()">
                      <input 
                        type="text" 
                        class="form-input" 
                        matInput 
                        placeholder="Домофон"
                        [formControl]="emailFormControl"
                        [errorStateMatcher]="matcher" 
                        required 
                      />
     
                    </mat-form-field>

                    <mat-form-field [hideRequiredMarker]="hideRequired()" [floatLabel]="floatLabel()">
                      <input 
                        type="text" 
                        class="form-input" 
                        matInput 
                        placeholder="Этаж"
                        [formControl]="emailFormControl"
                        [errorStateMatcher]="matcher" 
                        required 
                      />
                    </mat-form-field>

                  </div>
                  <!-- <p>Entered value: {{options.valueChanges | async | json}}</p> -->
                </form>
            </div>
            
            <div class="buttons-container form-padding-40">
                <button mat-flat-button extended (click)="showModal('modal3')" class="button delivery-button">{{"Добавить"}} </button>
                <button mat-flat-button extended (click)="showModal('modal3')" class="button">{{"Очистить"}}</button>
            </div>
        </div>
    </div>







} @else {
  <div class="modal-content2 form-modal-content" >
    <div class="modal-box">
        <div class="icon-box">
            <mat-icon class="back" (click)="showModal('modal1')" aria-hidden="false" aria-label="filter icon">arrow_back_ios</mat-icon>
            <span class="close" (click)="showModal('')">&times;</span>
        </div>

        <div class="address-box">
            <h1>Новый заказ</h1>

            <div class="btn-container">
                <label class="switch btn-color-mode-switch">
                      <input 
                       [(ngModel)]="isPickup" 
                       (change)="onToggleChange()"
                       type="checkbox" 
                       name="color_mode" 
                       id="color_mode" 
                       value="1"
                       >
                      <label for="color_mode" data-on="Самовывоз" data-off="Доставка" class="btn-color-mode-switch-inner"></label>
                  </label>
            </div>

            <div class="form-login-box">
                <span class="link text">{{"Войти"}}</span> 
                <span class="text"> {{" в свой аккаунт и отобразить мои адреса доставки"}} </span> 
            </div>
            <mat-icon class="back" (click)="showModal('modal1')" aria-hidden="false" aria-label="filter icon">location_on</mat-icon>
            <span> {{"  Определить местоположение"}} </span>

            <form  [formGroup]="options">
              <div class="form-fields">
                <mat-form-field class="form-input-street" [hideRequiredMarker]="hideRequired()" [floatLabel]="floatLabel()">
                  <input 
                    type="text" 
                    class="form-input" 
                    matInput 
                    placeholder="Улица*"
                    [formControl]="emailFormControl"
                    [errorStateMatcher]="matcher" 
                    required 
                  />
                  <mat-icon class="back" matSuffix>keyboard_arrow_down</mat-icon>
                  <mat-hint class="form-hint" align="start"><strong>*Обязятельное поле для ввода</strong> </mat-hint>
                  @if (emailFormControl.hasError('required')) {
                    <mat-error class="form-error" ><strong>*Обязятельное поле для ввода</strong></mat-error>
                  }
                  
                </mat-form-field>

                <mat-form-field [hideRequiredMarker]="hideRequired()" [floatLabel]="floatLabel()">
                  <input 
                    type="text" 
                    class="form-input" 
                    matInput 
                    placeholder="Дом*"
                    [formControl]="emailFormControl"
                    [errorStateMatcher]="matcher" 
                    required 
                  />
                  <!-- <mat-hint align="start"><strong>*Обязятельное поле для ввода</strong> </mat-hint> -->
                  @if (emailFormControl.hasError('required')) {
                    <mat-error class=" form-error"> <strong>*Обязятельное поле для ввода</strong></mat-error>
                  }
                </mat-form-field>
          
                <mat-form-field [hideRequiredMarker]="hideRequired()" [floatLabel]="floatLabel()">
                  <input 
                    type="text" 
                    class="form-input" 
                    matInput 
                    placeholder="Корпус"
                    [formControl]="emailFormControl"
                    [errorStateMatcher]="matcher" 
                    required 
                  />
                  <!-- <mat-hint align="start"><strong>*Обязятельное поле для ввода</strong> </mat-hint> -->
                  @if (emailFormControl.hasError('required')) {
                    <mat-error class=" form-error"><strong>*Обязятельное поле для ввода</strong></mat-error>
                  }
                </mat-form-field>

              </div>


              <div class="form-fields">
                <mat-form-field  [hideRequiredMarker]="hideRequired()" [floatLabel]="floatLabel()">
                  <input 
                    type="text" 
                    class="form-input" 
                    matInput 
                    placeholder="Подьезд"
                    [formControl]="emailFormControl"
                    [errorStateMatcher]="matcher" 
                    required 
                  />
                  
                </mat-form-field>

                <mat-form-field [hideRequiredMarker]="hideRequired()" [floatLabel]="floatLabel()">
                  <input 
                    type="text" 
                    class="form-input" 
                    matInput 
                    placeholder="Квартира"
                    [formControl]="emailFormControl"
                    [errorStateMatcher]="matcher" 
                    required 
                  />

                </mat-form-field>
          
                <mat-form-field [hideRequiredMarker]="hideRequired()" [floatLabel]="floatLabel()">
                  <input 
                    type="text" 
                    class="form-input" 
                    matInput 
                    placeholder="Домофон"
                    [formControl]="emailFormControl"
                    [errorStateMatcher]="matcher" 
                    required 
                  />
 
                </mat-form-field>

                <mat-form-field [hideRequiredMarker]="hideRequired()" [floatLabel]="floatLabel()">
                  <input 
                    type="text" 
                    class="form-input" 
                    matInput 
                    placeholder="Этаж"
                    [formControl]="emailFormControl"
                    [errorStateMatcher]="matcher" 
                    required 
                  />
                </mat-form-field>

              </div>
              <!-- <p>Entered value: {{options.valueChanges | async | json}}</p> -->
            </form>
        </div>
        
        <div class="buttons-container form-padding-40">
            <button mat-flat-button extended (click)="showModal('modal3')" class="button delivery-button">{{"Добавить"}} </button>
            <button mat-flat-button extended (click)="showModal('modal3')" class="button">{{"Очистить"}}</button>
        </div>
    </div>
</div>
}
</div>