<button mat-flat-button extended (click)="showModal('modal1')" class="button">{{"Заказ"}}</button>
              
<div class="modal" *ngIf="currentModal === 'modal1'" (click)="onContainerClick($event)">
    <app-block1 [currentModal]="currentModal" [isDesktop]="isDesktop" [showModal]="showModal"></app-block1>
</div>

<div class="modal" *ngIf="currentModal === 'modal2'" (click)="onContainerClick($event)">
@if (isDesktop){
    <div class="modal-content2">
        <div class="modal-box">
            <div class="icon-box">
                <mat-icon class="back" (click)="showModal('modal1')" aria-hidden="false" aria-label="filter icon">arrow_back_ios</mat-icon>
                <span class="close" (click)="showModal('')">&times;</span>
            </div>

            <div class="address-box">
                <h1>Новый заказ</h1>

                <div class="btn-container">
                    <label class="switch btn-color-mode-switch">
                          <input 
                           [(ngModel)]="isPickup" 
                           (change)="onToggleChange()"
                           type="checkbox" 
                           name="color_mode" 
                           id="color_mode" 
                           value="1"
                           >
                          <label for="color_mode" data-on="Самовывоз" data-off="Доставка" class="btn-color-mode-switch-inner"></label>
                      </label>
                </div>

                <div class="form-login-box">
                    <span class="link text">{{"Войти"}}</span> 
                    <span class="text"> {{" в свой аккаунт и отобразить мои адреса доставки"}} </span> 
                </div>
                <mat-icon class="back" (click)="showModal('modal1')" aria-hidden="false" aria-label="filter icon">location_on</mat-icon>
                <span> {{"  Определить местоположение"}} </span>

                <form  [formGroup]="options">
                  <div class="form-fields">
                    <mat-form-field class="form-input-street" [hideRequiredMarker]="hideRequired()" [floatLabel]="floatLabel()">
                      <input 
                        type="text" 
                        class="form-input" 
                        matInput 
                        placeholder="Улица*"
                        [formControl]="emailFormControl"
                        [errorStateMatcher]="matcher" 
                        required 
                      />
                      <mat-icon class="back" matSuffix>keyboard_arrow_down</mat-icon>
                      <mat-hint class="form-hint" align="start"><strong>*Обязятельное поле для ввода</strong> </mat-hint>
                      @if (emailFormControl.hasError('required')) {
                        <mat-error class="form-error" ><strong>*Обязятельное поле для ввода</strong></mat-error>
                      }
                      
                    </mat-form-field>

                    <mat-form-field [hideRequiredMarker]="hideRequired()" [floatLabel]="floatLabel()">
                      <input 
                        type="text" 
                        class="form-input" 
                        matInput 
                        placeholder="Дом*"
                        [formControl]="emailFormControl"
                        [errorStateMatcher]="matcher" 
                        required 
                      />
                      <!-- <mat-hint align="start"><strong>*Обязятельное поле для ввода</strong> </mat-hint> -->
                      @if (emailFormControl.hasError('required')) {
                        <mat-error class=" form-error"> <strong>*Обязятельное поле для ввода</strong></mat-error>
                      }
                    </mat-form-field>
              
                    <mat-form-field [hideRequiredMarker]="hideRequired()" [floatLabel]="floatLabel()">
                      <input 
                        type="text" 
                        class="form-input" 
                        matInput 
                        placeholder="Корпус"
                        [formControl]="emailFormControl"
                        [errorStateMatcher]="matcher" 
                        required 
                      />
                      <!-- <mat-hint align="start"><strong>*Обязятельное поле для ввода</strong> </mat-hint> -->
                      @if (emailFormControl.hasError('required')) {
                        <mat-error class=" form-error"><strong>*Обязятельное поле для ввода</strong></mat-error>
                      }
                    </mat-form-field>

                  </div>


                  <div class="form-fields">
                    <mat-form-field  [hideRequiredMarker]="hideRequired()" [floatLabel]="floatLabel()">
                      <input 
                        type="text" 
                        class="form-input" 
                        matInput 
                        placeholder="Подьезд"
                        [formControl]="emailFormControl"
                        [errorStateMatcher]="matcher" 
                        required 
                      />
                      
                    </mat-form-field>

                    <mat-form-field [hideRequiredMarker]="hideRequired()" [floatLabel]="floatLabel()">
                      <input 
                        type="text" 
                        class="form-input" 
                        matInput 
                        placeholder="Квартира"
                        [formControl]="emailFormControl"
                        [errorStateMatcher]="matcher" 
                        required 
                      />
 
                    </mat-form-field>
              
                    <mat-form-field [hideRequiredMarker]="hideRequired()" [floatLabel]="floatLabel()">
                      <input 
                        type="text" 
                        class="form-input" 
                        matInput 
                        placeholder="Домофон"
                        [formControl]="emailFormControl"
                        [errorStateMatcher]="matcher" 
                        required 
                      />
     
                    </mat-form-field>

                    <mat-form-field [hideRequiredMarker]="hideRequired()" [floatLabel]="floatLabel()">
                      <input 
                        type="text" 
                        class="form-input" 
                        matInput 
                        placeholder="Этаж"
                        [formControl]="emailFormControl"
                        [errorStateMatcher]="matcher" 
                        required 
                      />
                    </mat-form-field>

                  </div>
                  <!-- <p>Entered value: {{options.valueChanges | async | json}}</p> -->
                </form>
            </div>
            
            <div class="buttons-container form-padding-40">
                <button mat-flat-button extended (click)="showModal('modal3')" class="button delivery-button">{{"Добавить"}} </button>
                <button mat-flat-button extended (click)="showModal('modal3')" class="button">{{"Очистить"}}</button>
            </div>
        </div>
    </div>







} @else {
  <div class="modal-content2 form-modal-content" >
    <div class="modal-box">
        <div class="icon-box">
            <mat-icon class="back" (click)="showModal('modal1')" aria-hidden="false" aria-label="filter icon">arrow_back_ios</mat-icon>
            <span class="close" (click)="showModal('')">&times;</span>
        </div>

        <div class="address-box">
            <h1>Новый заказ</h1>

            <div class="btn-container">
                <label class="switch btn-color-mode-switch">
                      <input 
                       [(ngModel)]="isPickup" 
                       (change)="onToggleChange()"
                       type="checkbox" 
                       name="color_mode" 
                       id="color_mode" 
                       value="1"
                       >
                      <label for="color_mode" data-on="Самовывоз" data-off="Доставка" class="btn-color-mode-switch-inner"></label>
                  </label>
            </div>

            <div class="form-login-box">
                <span class="link text">{{"Войти"}}</span> 
                <span class="text"> {{" в свой аккаунт и отобразить мои адреса доставки"}} </span> 
            </div>
            <mat-icon class="back" (click)="showModal('modal1')" aria-hidden="false" aria-label="filter icon">location_on</mat-icon>
            <span> {{"  Определить местоположение"}} </span>

            <form  [formGroup]="options">
              <div class="form-fields">
                <mat-form-field class="form-input-street" [hideRequiredMarker]="hideRequired()" [floatLabel]="floatLabel()">
                  <input 
                    type="text" 
                    class="form-input" 
                    matInput 
                    placeholder="Улица*"
                    [formControl]="emailFormControl"
                    [errorStateMatcher]="matcher" 
                    required 
                  />
                  <mat-icon class="back" matSuffix>keyboard_arrow_down</mat-icon>
                  <mat-hint class="form-hint" align="start"><strong>*Обязятельное поле для ввода</strong> </mat-hint>
                  @if (emailFormControl.hasError('required')) {
                    <mat-error class="form-error" ><strong>*Обязятельное поле для ввода</strong></mat-error>
                  }
                  
                </mat-form-field>

                <mat-form-field [hideRequiredMarker]="hideRequired()" [floatLabel]="floatLabel()">
                  <input 
                    type="text" 
                    class="form-input" 
                    matInput 
                    placeholder="Дом*"
                    [formControl]="emailFormControl"
                    [errorStateMatcher]="matcher" 
                    required 
                  />
                  <!-- <mat-hint align="start"><strong>*Обязятельное поле для ввода</strong> </mat-hint> -->
                  @if (emailFormControl.hasError('required')) {
                    <mat-error class=" form-error"> <strong>*Обязятельное поле для ввода</strong></mat-error>
                  }
                </mat-form-field>
          
                <mat-form-field [hideRequiredMarker]="hideRequired()" [floatLabel]="floatLabel()">
                  <input 
                    type="text" 
                    class="form-input" 
                    matInput 
                    placeholder="Корпус"
                    [formControl]="emailFormControl"
                    [errorStateMatcher]="matcher" 
                    required 
                  />
                  <!-- <mat-hint align="start"><strong>*Обязятельное поле для ввода</strong> </mat-hint> -->
                  @if (emailFormControl.hasError('required')) {
                    <mat-error class=" form-error"><strong>*Обязятельное поле для ввода</strong></mat-error>
                  }
                </mat-form-field>

              </div>


              <div class="form-fields">
                <mat-form-field  [hideRequiredMarker]="hideRequired()" [floatLabel]="floatLabel()">
                  <input 
                    type="text" 
                    class="form-input" 
                    matInput 
                    placeholder="Подьезд"
                    [formControl]="emailFormControl"
                    [errorStateMatcher]="matcher" 
                    required 
                  />
                  
                </mat-form-field>

                <mat-form-field [hideRequiredMarker]="hideRequired()" [floatLabel]="floatLabel()">
                  <input 
                    type="text" 
                    class="form-input" 
                    matInput 
                    placeholder="Квартира"
                    [formControl]="emailFormControl"
                    [errorStateMatcher]="matcher" 
                    required 
                  />

                </mat-form-field>
          
                <mat-form-field [hideRequiredMarker]="hideRequired()" [floatLabel]="floatLabel()">
                  <input 
                    type="text" 
                    class="form-input" 
                    matInput 
                    placeholder="Домофон"
                    [formControl]="emailFormControl"
                    [errorStateMatcher]="matcher" 
                    required 
                  />
 
                </mat-form-field>

                <mat-form-field [hideRequiredMarker]="hideRequired()" [floatLabel]="floatLabel()">
                  <input 
                    type="text" 
                    class="form-input" 
                    matInput 
                    placeholder="Этаж"
                    [formControl]="emailFormControl"
                    [errorStateMatcher]="matcher" 
                    required 
                  />
                </mat-form-field>

              </div>
              <!-- <p>Entered value: {{options.valueChanges | async | json}}</p> -->
            </form>
        </div>
        
        <div class="buttons-container form-padding-40">
            <button mat-flat-button extended (click)="showModal('modal3')" class="button delivery-button">{{"Добавить"}} </button>
            <button mat-flat-button extended (click)="showModal('modal3')" class="button">{{"Очистить"}}</button>
        </div>
    </div>
</div>
}
</div>








<div class="modal" *ngIf="currentModal === 'modal3'" (click)="onContainerClick($event)">
  @if (isDesktop){

    <div class="modal-content modal3">
        <div class="modal-box">
          <div class="icon-box">
            <mat-icon class="back" (click)="showModal('modal1')" aria-hidden="false" aria-label="filter icon">arrow_back_ios</mat-icon>
            <span class="close" (click)="showModal('')">&times;</span>
          </div>

          <div class="vertical-content">
            <div class="text-content">
              <span class="popup-title-modal3">{{"Точка самовывоза"}}</span>
            </div>

            <div class="chosen-location-box chosen-location-border">
              <mat-icon class="back" (click)="showModal('modal1')" aria-hidden="false" aria-label="filter icon">location_on</mat-icon>
              <div class="chosen-location-flex">
                <span class="choosen-location-title">{{"Комсомольский пр. 30"}}</span>
                <span class="choosen-location-date">{{"Пн-Вс: 9:00 - 23:00"}}</span>
              </div>
            </div>

            <div class="chosen-location-box chosen-location-border" (click)="showModal('modal4')">
              <mat-icon class="back choosen-location-map-black-color" (click)="showModal('modal1')" aria-hidden="false" aria-label="filter icon">location_on</mat-icon>
              <div class="chosen-location-flex">
                <span class="choosen-location-title choosen-location-map-black-color">{{"Показать на карте"}}</span>
              </div>
            </div>

            <div class="buttons-container">
              <button mat-flat-button extended (click)="showModal('modal5')" class="button ">{{"Перейти к оформлению"}}</button>
            </div>
          </div>
          
        </div>
    </div>
  } 
  @else {

  }

</div>











<div class="modal" *ngIf="currentModal === 'modal4'" (click)="onContainerClick($event)">
  @if (isDesktop){

    <div class="modal-content modal3">
        <div class="modal-box">
          <div class="icon-box">
            <mat-icon class="back" (click)="showModal('modal1')" aria-hidden="false" aria-label="filter icon">arrow_back_ios</mat-icon>
            <span class="close" (click)="showModal('')">&times;</span>
          </div>
          <div class="text-content">
            <span class="popup-title-modal3">{{"Уточните ваш адрес"}}</span>
          </div>
          <div>
            <h1>Map</h1>
            <div style="height: 500px">
              <!-- <aol-map>
                  <aol-view [zoom]="8">
                    <aol-coordinate [x]="31" [y]="51" [srid]="'EPSG:4326'"></aol-coordinate>
                  </aol-view>
                  <aol-layer-tile>
                    <aol-source-osm></aol-source-osm>
                  </aol-layer-tile>
                  <aol-interaction-default></aol-interaction-default>
                  <aol-control-scaleline></aol-control-scaleline>
                  <aol-control-zoomslider></aol-control-zoomslider>
                  <aol-control-zoom></aol-control-zoom>
              </aol-map> -->

              <aol-map [width]="'100%'" [height]="'100%'">
                <aol-view [zoom]="zoom" [center]="center" [maxZoom]="maxZoom" [minZoom]="minZoom">
                  <aol-coordinate [x]="center[0]" [y]="center[1]" [srid]="'EPSG:4326'"></aol-coordinate>
                </aol-view>
                <aol-layer-tile>
                  <aol-source-osm></aol-source-osm>
                </aol-layer-tile>
                <aol-layer-vector>
                  <aol-source-vector>
                    <ng-container *ngFor="let marker of markers">
                    <aol-feature>
                      <aol-geometry-point>
                        <aol-coordinate [x]="marker.markerX" [y]="marker.markerY" [srid]="'EPSG:4326'"></aol-coordinate>
                      </aol-geometry-point>
                      <aol-style>
                        <aol-style-icon
                          [src]="'assets/marker.png'"
                          [anchor]="[0.5, 1]"
                          [anchorXUnits]="'fraction'" [anchorYUnits]="'fraction'"
                          [scale]="0.05"
                          [anchorOrigin]="'top-left'">
                        </aol-style-icon>
                      </aol-style>
                    </aol-feature>
                  </ng-container>
                  </aol-source-vector>
                </aol-layer-vector>
                <aol-interaction-default></aol-interaction-default>
                <aol-control-scaleline></aol-control-scaleline>
                <aol-control-zoomslider></aol-control-zoomslider>
                <aol-control-zoom></aol-control-zoom>
              </aol-map>

              <!-- <ng-container *ngFor="let marker of markers">
                <aol-feature>
                  <aol-geometry-point>
                    <aol-coordinate [x]="marker.longitude" [y]="marker.latitude" [srid]="'EPSG:4326'"></aol-coordinate>
                  </aol-geometry-point>
                  <aol-style>
                    <aol-style-icon
                      [src]="'assets/marker.png'"
                      [anchor]="[0.5, 1]"
                      [anchorXUnits]="'fraction'" [anchorYUnits]="'fraction'"
                      [scale]="0.05"
                      [anchorOrigin]="'top-left'">
                    </aol-style-icon>
                  </aol-style>
                </aol-feature>
              </ng-container> -->


            </div>

            <!-- <button mat-flat-button extended  (click)="onClickSendLocation()"> SEND LOC</button> -->
            <!-- <div id="map" class="map"></div> -->
            <!-- <div style="height: 500px">
              <div id="map" style="width: 400px; height: 500px;"></div>
            </div>
            <button (click)="onZoomIn()">Zoom out</button> -->
          </div>

          <div class="vertical-content">
        
            <div class="buttons-container">
              <button mat-flat-button extended (click)="showModal('modal5')" class="button ">{{"Перейти к оформлению"}}</button>
            </div>
          </div>
          
        </div>
    </div>
  } 
  @else {

  }

</div>












