@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* @import "node_modules/ol/ol.css"; */

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #FFFFFF;
    margin: auto;
    border-radius: 38px;
    border: 1px solid #888;
    width: 426px;
    height: 431px;
  }

  .modal-content2 {
    background-color: #FFFFFF;
    margin: auto;
    border-radius: 38px;
    border: 1px solid #888;
    width: 469px;
    height: 627px;
  }

  /* .modal1-size{
    width: 426px;
    height: 431px;
  } */


  .modal-box{
    display: flex;
    flex-direction: column;
    padding: 32px;
  }

  .icon-box{
    display: flex;
  }

  .vertical-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 44px;
  }

  .buttons-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .form-padding-40 {
    padding-top: 40px;
  }

  .text-content{
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .close {
    margin-left: auto;
    font-size: 24px;
    height: 24px;
    width: 24px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
  }
  
  /* .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } */

  .back {
    color: #8252F4;
    width: 24px;
    font-weight: 800;
    cursor: pointer;
  }

  .title{
    /* font-style: Roboto; */
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    align-items: center;
    text-align: center;
  }

  .text{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }

  .button{
    border-radius: 4px;
    padding: 7px, 16px, 7px, 16px;
    height: 38px;
    background-color: inherit;
    color: #8252F4;
    border: 2px solid #8252F4;
    cursor: pointer;
    width: 100%;
  }

  .button:hover {
    background-color: #8252F4;
    color: #FFFFFF;
  }

  /* .mat-mdc-unelevated-button:not(:disabled) {
    color: #8252F4;
  } */


  .link {
    color: #9747FF;
    cursor: pointer;
  }

  .center{ 
    text-align: center;
  }














.btn-color-mode-switch > label.btn-color-mode-switch-inner{
    margin: 0px;
    width: 400px;
    height: 50px;
    background: #E0E0E0; 
    border-radius: 26px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
    /* box-shadow: 0px 0px 8px 0px rgba(17, 17, 17, 0.34) inset; */
    display: block;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:before{
    content: attr(data-on);
    position: absolute;
    font-size: 16px;
    font-weight: 500;
    top: 15px;
    right: 60px;

}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:after{
    content: attr(data-off);
    font-size: 16px;
    width: 200px;
    height: 30px;
    border-radius: 28px;
    line-height: 1.5;

    background: #8252F4;
    color:white;

    position: absolute;
    text-align: center;
    transition: all 0.3s ease;
    padding: 10px;

}

.btn-color-mode-switch > .alert{
    display: none;
    border: none;
    color: #fff;
}

.btn-color-mode-switch input[type="checkbox"]{
    cursor: pointer;
    width: 50px;
    height: 25px;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 1;
    margin: 0px;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:after{
    content: attr(data-on);
    right: 0px;
    font-size: 16px;
    line-height: 1.7;
    /* background: #3c3c3c; */
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:before{
    content: attr(data-off);
    /* right: auto; */
    left: 60px;
    font-size: 16px;
}


.btn-color-mode-switch input[type="checkbox"]:checked ~ .alert{
    display: block;
}







.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}

.example-container mat-form-field {
  width: 220px;
}

.example-container form {
  margin-bottom: 20px;
}

.example-container form > * {
  margin: 12px 0;
}

.example-container .mat-radio-button {
  margin: 0 12px;
}

.form-fields {
  display: flex;
  align-items: flex-start;
  padding-top: 20px;
  gap:8px;
}


.form-login-box{
  padding: 10px 0;
}

mdc-text-field--filled{
  padding: 0px;
}

mat-form-field{
  height: 70px;
  /* padding: 0px; */
}



.mat-mdc-form-field{
  font-size: 14px;
}

.form-error {
  font-size: 10px;
}


.form-input-street {
  min-width: 196px;
}

.form-hint {
  font-size: 10px;
  padding: 0px 0px 0px 0px !important;
  /* color: red; */
}

.modal3 {
  width: 454px;
  height: 402px;

  padding: 0 32px 80px 32px;
  gap: 48px;
  /* border-radius: 38px 0px 0px 0px; */

}

.popup-title-modal3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;

}

.chosen-location-box{
  display: flex;

  /* border: 1px solid #8252F4;
  border-radius: 4px; */
  height: 48px;
  width: 320px;
  padding: 16px 40px 16px 40px;
  cursor: pointer;
  border: 2px solid transparent;
}

.chosen-location-border:hover{
  border: 2px solid #8252F4;
  border-radius: 4px;
}

.chosen-location-flex {
  display: flex;
  flex-direction: column;
}

.choosen-location-title{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.choosen-location-date {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #707584;
}

.choosen-location-map-black-color {
  color: #000000;
}




.form-modal-content {
  /* position: fixed;
  bottom: 0;

  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0; */
}


/* .map {
  width: 100%;
  height: 600px;
} */


.map {
  width: 400px;
  height: 400px;
}



@media screen and (max-width: 768px) {
  .modal-content {
    border: none;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px;
  }

  .modal-content2 {
    border: none;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px;
  }

  .modal-content3 {
    border: none;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px;
  }

  .mat-bottom-sheet-container {
    min-width: 384px;
    max-width: calc(100vw - 128px) !important;
    margin-top: 80px;
  }

  mat-bottom-sheet-container {
    min-width: 384px;
    max-width: calc(100vw - 128px) !important;
    margin-top: 80px;
  }
   
  .vertical-content {
    padding-top: 10px;
  }

  .modal {
    justify-content: center;
    align-items: flex-end;
  }

}

@media screen and (max-width: 440px) {
  .modal-content {
    border: none;
    width: 282px;
    height: 384px;
  }

  .vertical-content {
    gap: 16px;
    padding-top: 0px;
  }

  .modal-box{
    padding: 24px;
  }

}